.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  position: relative;
  background-color: #fefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal .modal-content .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal .modal-content .modal-body {
  padding: 2px 16px;
}
.modal .modal-content .modal-body .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-content .modal-footer {
  padding: 2pc 16px;
  background-color: #5cb85c;
  color: white;
}
.modal .modal-content .modal-footer .cancelBtn {
  float: left;
}
.modal .modal-content .modal-footer .approveBtn {
  float: right;
}
.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: [first] 60px [line2] 1fr [line3] 60px [end];
  grid-template-rows: [firstrow] 60px [rowLine2] 1fr [rowLine3] 60px [rowEnd];
  width: 100vw;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: firstrow;
  grid-row-end: rowLine3;
}

.footer {
  grid-column-start: first;
  grid-column-end: line3;
  grid-row-start: rowLine3;
  grid-row-end: rowEnd;
}

#createBtn {
  grid-column-start: line3;
  grid-column-end: end;
  grid-row-start: rowLine3;
  grid-row-end: rowEnd;
}

#sortBtn {
  grid-column-start: first;
  grid-column-end: line2;
  grid-row-start: firstrow;
  grid-row-end: rowLine2;
}

/*.header {
  grid-column-start: first;
  grid-column-end: end;
  grid-row-start: firstrow;
  grid-row-end: rowLine2;
}*/
#clearBtn {
  grid-column-start: line3;
  grid-column-end: end;
  grid-row-start: firstrow;
  grid-row-end: rowLine2;
}

* {
  box-sizing: border-box;
}

.aimSlider {
  width: 300px;
  overflow: hidden;
}
.aimSlider .aimSlides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.aimSlider .aimSlides ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.aimSlider .aimSlides ::-webkit-scrollbar-track {
  background: transparent;
}
.aimSlider .aimSlides > section {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background: yellowgreen;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aimSlider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.aimSlider > a:active {
  top: 1px;
}

.aimSlider > a:focus {
  background: #000;
}

body,
html {
  font-size: 12pt;
  height: 100%;
  background-color: lightgrey;
}

.checkBtn {
  background-color: red;
  border-radius: 50px;
}

.uncheckBtn {
  background-color: green;
  border-radius: 50px;
}

img {
  width: 200px;
}