.gridContainer {
  display: grid;
  grid-template-columns: [first] 60px [line2] 1fr [line3] 60px [end];
  grid-template-rows: [firstrow] 60px [rowLine2] 1fr [rowLine3] 60px [rowEnd];
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: firstrow;
  grid-row-end: rowLine3;
}

.footer {
  //background-color: rgb(29, 165, 97);
  grid-column-start: first;
  grid-column-end: line3;
  grid-row-start: rowLine3;
  grid-row-end: rowEnd;
}

#createBtn {
  grid-column-start: line3;
  grid-column-end: end;
  grid-row-start: rowLine3;
  grid-row-end: rowEnd;
}

#sortBtn {
  grid-column-start: first;
  grid-column-end: line2;
  grid-row-start: firstrow;
  grid-row-end: rowLine2;
}

/*.header {
  grid-column-start: first;
  grid-column-end: end;
  grid-row-start: firstrow;
  grid-row-end: rowLine2;
}*/

#clearBtn {
  grid-column-start: line3;
  grid-column-end: end;
  grid-row-start: firstrow;
  grid-row-end: rowLine2;
}

@media screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: [start] 35vw [first] 60px [line2] 1fr [line3] 60px [end] 35vw [bigend];
    //grid-template-rows: [rowstart] 25vh [firstrow] 60px [rowLine2] 1fr [rowLine3] 60px [rowEnd] 25 ;
  }
}
