@use "modal";
@use "layout";
@use "slider";

body,
html {
  font-size: 12pt;
  height: 100%;
  background-color: lightgrey;
}

button {
  border-radius: 50%;
  color: yellowgreen;
  background-color: rgb(29, 165, 97);
}

.checkBtn {
  color: black;
  background-color: red;
  margin-left: 100px;
}

.uncheckBtn {
  color: black;
  background-color: green;
  margin-left: 100px;
}

img {
  width: 200px;
}
