@use "modal";
@use "layout";

body,
html {
  font-size: 12pt;
  height: 100%;
  background-color: lightgrey;
}

#mainAims {
  width: 75vw;
  height: 500px;
  background-color: yellowgreen;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .checkBtn {
    background-color: red;
    border-radius: 12px;
  }
}
img {
  width: 200px;
}
