@use "modal";
@use "layout";
@use "slider";

body,
html {
  font-size: 12pt;
  height: 100%;
  background-color: lightgrey;
}

.checkBtn {
  background-color: red;
  border-radius: 50px;
}

.uncheckBtn {
  background-color: green;
  border-radius: 50px;
}

img {
  width: 200px;
}
